In [3]:
import sqlite3
import os
import pandas as pd
import streamlit as st
import plost

# creating file path
dbfile = "bce.db"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()


status = """
    SELECT
        Status, (COUNT(*)/18632.92) AS quantity_of_companies
    FROM
        enterprise
	GROUP BY status
"""

JuridicalForm = """

    SELECT
        JuridicalForm, (COUNT(*)/18632.92) AS quantity_of_companies
    FROM
        enterprise
	GROUP BY JuridicalForm
	ORDER BY quantity_of_companies DESC

"""

TypeOfCompany = """

    SELECT
        TypeOfEnterprise, (COUNT(*)/18632.92) AS quantity_of_companies
    FROM
        enterprise
	GROUP BY TypeOfEnterprise
	ORDER BY quantity_of_companies DESC

"""

Age_of_company = """

SELECT *

FROM activity AS a1
INNER JOIN enterprise AS e1
ON a1.EntityNumber = e1.EnterpriseNumber

"""

sector_average_age = """

    SELECT
        c1.Description, a1.NaceCode, AVG(2022 - strftime('%Y',e1.StartDate)) AS "Age", COUNT(EntityNumber) AS Number_of_Activities
    FROM activity AS a1

    LEFT JOIN enterprise AS e1     ON  a1.EntityNumber = e1.EnterpriseNumber
    LEFT JOIN code AS c1 ON a1.NaceCode = c1.Code
    WHERE c1.Language LIKE "FR"
    GROUP BY NaceCode
    ORDER BY Age DESC

"""

status_df = pd.read_sql_query( status   , con)
JuridicalForm_df = pd.read_sql_query( JuridicalForm   , con)
TypeOfCompany_df = pd.read_sql_query( TypeOfCompany   , con)
sector_average_age_df = pd.read_sql_query( sector_average_age   , con)

status_df.to_csv(r'status_df.csv', header=True, encoding='utf-8', escapechar='|')
JuridicalForm_df.to_csv(r'JuridicalForm_df.csv', header=True, encoding='utf-8', escapechar='|')
TypeOfCompany_df.to_csv(r'TypeOfCompany_df.csv', header=True, encoding='utf-8', escapechar='|')
sector_average_age_df.to_csv(r'sector_average_age_df.csv', header=True, encoding='utf-8', escapechar='|')

TESTS

In [9]:
import pandas as pd
JuridicalForm_df=pd.read_csv("JuridicalForm_df.csv",header=None)
print(JuridicalForm_df)

         0              1                      2
0      NaN  JuridicalForm  quantity_of_companies
1      0.0            NaN      40.98353881195219
2      1.0            015     19.133286677557788
3      2.0            610      9.156213840879477
4      3.0            017      7.533709155623488
..     ...            ...                    ...
104  103.0            383  5.366845346837748e-05
105  104.0            387  5.366845346837748e-05
106  105.0            608  5.366845346837748e-05
107  106.0            651  5.366845346837748e-05
108  107.0            724  5.366845346837748e-05

[109 rows x 3 columns]

add JuridicalForm name to code

In [29]:
import pandas as pd
JuridicalForm_dic= """

    SELECT
        Category, Code, Description
    FROM
        code
    WHERE Language LIKE "FR" AND Category LIKE "JuridicalForm%"
	GROUP BY Code
	ORDER BY Code DESC

"""

import sqlite3
import os
import pandas as pd
import streamlit as st
import plost

# creating file path
dbfile = "bce.db"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()
JuridicalForm_dic_df = pd.read_sql_query(JuridicalForm_dic, con)
JuridicalForm_dic_df = JuridicalForm_dic_df.iloc[:,[1,2]]

#print(JuridicalForm_dic_df.head())
JD_dic ={}
JD_dic =JuridicalForm_dic_df.to_dict()
JF_dic ={}

print(JD_dic['Code'][0])

for i in range(len(JD_dic['Code'])):
    JF_dic[JD_dic['Code'][i]] = JD_dic['Description'][i]

print(JF_dic['999'])

df1 = JuridicalForm_df.replace(JF_dic)

code = JuridicalForm_df.iloc[:,1]
print(code.head())
code_list = code.values.tolist()
#print(code_list)
#df1=df.concat(code)


df1['code']=code_list

print(df1.head())

#df.to_csv(r'JuridicalForm_df_clean.csv',encoding='utf-8', escapechar='|')
df1.to_csv(r'JuridicalForm_df_clean_withcode.csv',encoding='utf-8', escapechar='|')

999
Forme légale inconnue (ONSS)
0    JuridicalForm
1              NaN
2              015
3              610
4              017
Name: 1, dtype: object
     0                                        1                      2  \
0  NaN                            JuridicalForm  quantity_of_companies
1  0.0                                      NaN      40.98353881195219
2  1.0  Société privée à responsabilité limitée     19.133286677557788
3  2.0         Société à responsabilité limitée      9.156213840879477
4  3.0            Association sans but lucratif      7.533709155623488

            code
0  JuridicalForm
1            NaN
2            015
3            610
4            017

casino search

In [23]:
CasinoSearch= """

    SELECT
        Denomination, EntityNumber
    FROM
        denomination
    WHERE Denomination LIKE "%casino%"

"""
CasinoNaceSearch= """

    SELECT
        EntityNumber, NaceCode, COUNT(*) AS casinonumber
    FROM
        activity
    WHERE NaceCode LIKE "9200001"
    GROUP BY EntityNumber

"""


import sqlite3
import os
import pandas as pd
import streamlit as st
import plost

# creating file path
dbfile = "bce.db"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()
CasinoNaceSearch_df = pd.read_sql_query(CasinoNaceSearch, con)

print(CasinoNaceSearch_df)

       EntityNumber NaceCode  casinonumber
0      0823.528.812  9200001             1
1     2.000.361.813  9200001             1
2     2.001.318.549  9200001             1
3     2.001.919.850  9200001             1
4     2.003.754.734  9200001             1
...             ...      ...           ...
3280  2.331.654.425  9200001             1
3281  2.331.680.654  9200001             1
3282  2.331.688.077  9200001             1
3283  2.331.688.176  9200001             1
3284  2.331.691.641  9200001             1

[3285 rows x 3 columns]

language search

In [2]:
import pandas as pd
LanguageSearch= """

    SELECT
        Language, (COUNT(*)/18632.92) AS PercentageDenominationLanguage
    FROM
        denomination

	GROUP BY Language
	ORDER BY Language DESC

"""

import sqlite3
import os
import pandas as pd
import streamlit as st
import plost

# creating file path
dbfile = "bce.db"
# Create a SQL connection to our SQLite database
con = sqlite3.connect(dbfile)

# creating cursor
cur = con.cursor()
LanguageSearch_df = pd.read_sql_query(LanguageSearch, con)

print(LanguageSearch_df.head())
print(type(LanguageSearch_df['Language'][1]))

Language_dic = {'0': "unknown", '1': "French",'2':"Dutch",'3': "Germany", '4':"English"}

dfl1 = LanguageSearch_df.replace(Language_dic)

print(dfl1)
dfl1.to_csv(r'LanguageSearch_df.csv', header=True, encoding='utf-8', escapechar='|')

  Language  PercentageDenominationLanguage
0        4                        0.874313
1        3                        0.740142
2        2                       73.523796
3        1                       47.118219
4        0                       45.158032
<class 'str'>
  Language  PercentageDenominationLanguage
0  English                        0.874313
1  Germany                        0.740142
2    Dutch                       73.523796
3   French                       47.118219
4  unknown                       45.158032

add new column

In [36]:
import pandas as pd

#pd.concat(code)
pd2 = pd.merge(code,df1)
print(pd2.head())


JuridicalForm_df['JuridicalFormName']=JuridicalForm_df.apply (lambda row: JF_dic[row.JuridicalForm] , axis=1)

               1    0                      2           code
0  JuridicalForm  NaN  quantity_of_companies  JuridicalForm
1            NaN  0.0      40.98353881195219            NaN

AttributeError: 'Series' object has no attribute 'JuridicalForm'

In [10]:
st.set_page_config(layout="wide")
with open('style.css') as f:
    st.markdown(f'<style>{f.read()}</style>', unsafe_allow_html=True)

# a1, a2= st.columns(3,7)
# a1.metric("Wind", "9 mph", "-8%")


# with a2:
#     st.markdown('### Bar chart')
#     plost.donut_chart(
#         data=JuridicalForm_df,##
#         theta='quantity_of_companies',
#         color='JuridicalForm')

b1, b2, b3, b4 = st.columns(4)
b1.metric("Temperature", "70 °F", "1.2 °F")
b2.metric("Wind", "9 mph", "-8%")
b3.metric("Humidity", "86%", "4%")
b4.metric("Humidity", "86%", "4%")

# def form():
#     st.write("This is a form")
#     with st.form(key="info form"):
#         name = st.text_input("enter name :")


# form()

cur.execute(JuridicalForm)
print(cur.fetchall())
con.close()

2022-10-27 08:22:32.872
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run /home/jack/challenge-data-analysis-sql/env/lib/python3.10/site-packages/ipykernel_launcher.py [ARGUMENTS]

NameError: name 'JuridicalForm' is not defined

In [29]:
# print(TypeOfCompany_df.head())
# df = TypeOfCompany_df.iloc[:,1]
# value1 = df.values.tolist()

# df = TypeOfCompany_df.iloc[:,1]
# bar1 = df.values.tolist()
print(JuridicalForm_df.head())

For i

  JuridicalForm  quantity_of_companies
0          None              40.983539
1           015              19.133287
2           610               9.156214
3           017               7.533709
4           014               5.315055

In [28]:
a1, a2, a3= st.columns(3)
a1.metric("Wind", "9 mph", "-8%")
with a2:
    st.markdown('### Bar chart')
    plost.bar_chart(
        data=TypeOfCompany_df,##
        bar='quantity_of_companies',
        value='TypeOfEnterprise')

with a3:
    st.markdown('### Bar chart')
    plost.donut_chart(
        data=JuridicalForm_df,##
        theta='quantity_of_companies',
        color='JuridicalForm')